@model EbayOnlineShopping.ViewModel.HomeIndexViewModel
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Home Page";
}

<div id="themeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#themeSlider" data-slide-to="1"></li>
        <li data-target="#themeSlider" data-slide-to="2"></li>
        <li data-target="#themeSlider" data-slide-to="3"></li>
        <li data-target="#themeSlider" data-slide-to="4"></li>

    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <div class="imgOverlay"></div>
            <img style="height:320px; width:100%" src="~/Images/Htc-banner-2.jpg" alt="First slide">
            <div class="carousel-caption">
                <h3>First slide</h3>
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:320px; width:100%" src="~/Images/htc-new-phone.jpg" alt="Second slide">
            <div class="carousel-caption">
                <h3>Second slide</h3>
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:320px; width:100%" src="~/Images/images.jpg" alt="Third slide">
            <div class="carousel-caption">
                <h3>Third slide</h3>
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:320px; width:100%" src="~/Images/HtcU12.jpg" alt="Forth slide">
            <div class="carousel-caption">
                <h3>Forth slide</h3>
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:320px; width:100%" src="~/Images/htc-u12-feed.jpg" alt="Fifth slide">
            <div class="carousel-caption">
                <h3>Fifth slide</h3>
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#themeSlider" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#themeSlider" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>


</div>

<div class="olContent f1">
    <h2 style="color:black">Search Product/Category</h2>

</div>
<form method="post">
    <div class="olSearch fr">

        <input type="text" placeholder="Enter Keyword" name="search" class="inputComn form-control" />
        <div class="searchIcon">
            <button type="submit" class="searchBtn">

                <img src="~/Images/icons8-search-24.png" />
            </button>
        </div>
    </div>
</form>


<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Our Products <small>trends products</small></h2>

        </div>
    </div>

</div>

<div class="row product-container">
    @foreach (var item in Model.ListOfProducts)
    {
        <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
            <div class="thumbnail product-item" style="height:300px">
                <img class="img-responsive" title="Click to View Product Details" style="cursor:pointer; height:160px;width:100%"
                     src="~/Images/HTCU19e128GBPurple.jpg" />
                <div class="caption">
                    <h5>Model Name : @item.ProductName</h5>
                    <p>Price in AUD : @item.Price </p>

                    <div>
                        @if (item.Quantity > 0)
                        {
                            using (Html.BeginForm("AddToCart", "Home", new { productId = item.ProductId}, FormMethod.Post))
                            {
                                <button type="submit" class="pull-right"><i class="fa fa-shopping-cart"></i></button>
                            }

                            <p>Available</p>

                        }
                        else
                        {
                            <p> Not Available </p>
                        }

                    </div>
                    <div>
                        @if (item.IsFetured == true)
                        {
                            <div class="product-item-badge">New</div>

                        }
                        
                    </div>

                </div>
            </div>
        </div>
    }


</div>
<dvi class="container">
    @Html.PagedListPager(Model.ListOfProducts, page => Url.Action("Index", new { page, search = Request.QueryString["search"] }), new PagedListRenderOptions()
    { Display = PagedListDisplayMode.IfNeeded, DisplayItemSliceAndTotal = true })
</dvi>